[(#SET{attribut, #ARRAY})]
<div class="fiche">
<BOUCLE_simplexml(DATA){source simplexml, #ENV{url}#ENV{xml}.xml, namespace}>
  [(#INCLURE{fond=template/inclure/inc_fildariane, env}{table=#VALEUR{children/fildariane/0/children/niveau}})]
  [<h2>(#VALEUR{children/dc:title/0/text})</h2>]
  <small>[<:comarquage:verifier_le:> (#VALEUR{children/dc:date/0/text}|affdate) - ][(#VALEUR{children/dc:contributor/0/text})]</small>
</BOUCLE_simplexml>

<BOUCLE_fiche(DATA){source domdocument, #ENV{url}#ENV{xml}.xml, namespace}>
  <INCLURE{fond=template/inclure/children,env}{table=#VALEUR} />
</BOUCLE_fiche>
</div>
