#CACHE{3*24*3600}
<BOUCLE_data_commentFaireSI(DATA){source simplexml, #ENV{url}commentFaireSi.xml, namespace}>
    <div class="comment_faire_si panel panel-primary">
        <div class="panel-heading">
            <h3>[(#VALEUR{children/dc:title/0/text})]</h3>
        </div>
        <B_item_commentfairesi>
        <div class="comment_faire_si panel-body">
            <ul class="spip">
            <BOUCLE_item_commentfairesi(DATA){source tableau, #VALEUR{children/commentfairesi}}>
                <li>
                    [<a href="(#SELF|parametre_url{xml,#VALEUR{attributes/id}})">[(#VALEUR{text})]</a>]
                </li>
            </BOUCLE_item_commentfairesi>
            </ul>
        </div>
        </B_item_commentfairesi>
    </div>
</BOUCLE_data_commentFaireSI>
