#CACHE{3*24*3600}
<BOUCLE_data_questionsreponses(DATA){source simplexml, #ENV{url}questionsReponses.xml, namespace}>
    <div class="questionsreponses">
        <h2 class="surlignable">[(#VALEUR{children/dc:title/0/text})]</h2>
        <B_item_questionsreponses>
        <div class="item_questionsreponses noeudThemes panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <BOUCLE_item_questionsreponses(DATA){source tableau, #VALEUR{children/groupe}}>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                [<h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_0" aria-expanded="true" aria-controls="collapse_0">
                    (#VALEUR{children/titre/0/text})
                  </a>
                </h3>]
              </div>
              <B_intra_loop1>
              <div id="collapse_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_0">
                <div class="panel-body">
                  <ul class="spip">
                    <BOUCLE_intra_loop1(DATA){source tableau, #VALEUR{children/questionreponse}}>
                        <li>
                            [<a href="(#SELF|parametre_url{xml,#VALEUR{attributes/id}})">[(#VALEUR{text})]</a>]
                        </li>
                    </BOUCLE_intra_loop1>
                  </ul>
                  </B_intra_loop1>
                </div>
              </div>
            </div>
            </BOUCLE_item_questionsreponses>
        </div>
      </B_item_questionsreponses>
    </div>
</BOUCLE_data_questionsreponses>
