#CACHE{3*24*3600}
[(#SET{categorie,[(#ENV{parametres}|table_valeur{categorie}|type_categorie)]})]
[(#SET{inc_xml,[(#ENV{parametres}|table_valeur{xml}|type_entrer)]})]
[(#SET{xml,[(#ENV{parametres}|table_valeur{xml})]})]
[(#SET{url,[(#GET{categorie}|table_valeur{XMLURL})]})]

[(#GET{inc_xml}|=={accueil}|oui)
  <INCLURE{fond=xml_pages/accueil}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={noeud}|oui)
  <INCLURE{fond=xml_pages/noeud}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={fiche}|oui)
  <INCLURE{fond=xml_pages/fiche}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={ressources}|oui)
  <INCLURE{fond=xml_pages/ressource}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={commentFaireSi}|oui)
  <INCLURE{fond=xml_pages/commentfairesi}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={questionsReponses}|oui)
  <INCLURE{fond=xml_pages/questionsreponses, env}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={servicesEnLigne}|oui)
  <INCLURE{fond=xml_pages/servicesenligne, env}{xml=#GET{xml}}{url=#GET{url}} />
]

[(#GET{inc_xml}|=={centresDeContact}|oui)
  <INCLURE{fond=xml_pages/centresdecontact, env}{xml=#GET{xml}}{url=#GET{url}} />
]
