#CACHE{3*24*3600}
<BOUCLE_data_questionsreponses(DATA){source simplexml, #ENV{url}#ENV{xml}.xml, namespace}>
    [(#INCLURE{fond=template/inclure/fildariane, env}{table=#VALEUR{children/fildariane/0/children/niveau}})]
    <div class="questionsreponses">
        <h2 class="surlignable">[(#VALEUR{children/dc:title/0/text})]</h2>
        <B_item_questionsreponses>
        <div class="item_questionsreponses noeudThemes">
            <BOUCLE_item_questionsreponses(DATA){source tableau, #VALEUR{children/groupe}}>
            [<h3>(#VALEUR{children/titre/0/text})</h3>]
            <B_intra_loop1>
            <ul class="spip">
                <BOUCLE_intra_loop1(DATA){source tableau, #VALEUR{children/questionreponse}}>
                    <li>
                        [<a href="(#SELF|parametre_url{xml,#VALEUR{attributes/id}})">[(#VALEUR{text})]</a>]
                    </li>
                </BOUCLE_intra_loop1>
              </ul>
              </B_intra_loop1>
            </BOUCLE_item_questionsreponses>
        </div>
      </B_item_questionsreponses>
    </div>
</BOUCLE_data_questionsreponses>
