#CACHE{3*24*3600}
[(#ENV{parametres}|table_valeur{categorie}|=={entreprises}|oui)
  [(#SET{url_actu,https://www.service-public.fr/professionnels-entreprises/actualites/})]
]
[(#ENV{parametres}|table_valeur{categorie}|=={associations}|oui)
  [(#SET{url_actu,https://www.service-public.fr/associations/actualites/})]
]
[(#ENV{parametres}|table_valeur{categorie}|=={particuliers}|oui)
  [(#SET{url_actu,https://www.service-public.fr/particuliers/actualites/})]
]
<BOUCLE_actualites(DATA){source simplexml, #ENV{url}actualites/index.xml, namespace}>
    <div class="actualites">
        <h3><:comarquage:actualites:></h3>
        <BOUCLE_item_content(DATA){source tableau, #VALEUR{children/refactualite}}{0,10}>
            <div class="media">
              <B_imageillustration>
              <div class="media-left">
                <BOUCLE_imageillustration(DATA){source tableau, #VALEUR{children/imageillustration}}{0,1}>
                [(#VALEUR{attributes/type}|=={Image}|oui)
                [<img src="https://www.service-public.fr/webapp/images/actu/large/(#VALEUR{attributes/lienpublication})" class="img_actu" alt="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" title="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" />]]
                </BOUCLE_imageillustration>
              </div>
              </B_imageillustration>
              <div class="media-body">
                [<h4 class="media-heading"><a href="#GET{url_actu}#VALEUR{attributes/lienpublication}" target="_blank">(#VALEUR{children/titre/0/text})</a></h4>]
                [<small>(#VALEUR{children/surtitre/0/text})</small>]
                [<small>(#VALEUR{children/date/0/text})</small>]
                [<p>
                    (#VALEUR{children/introduction/0/children/texte/0/children/paragraphe/0/text})
                </p>]
              </div>
            </div>
        </BOUCLE_item_content>
    </div>
</BOUCLE_actualites>
