#CACHE{3*24*3600}
[(#REM) Fiche]
<B_noeud_fiche>
  <ul class="fiche spip">
<BOUCLE_noeud_fiche(DATA){source tableau, #ENV{table}}>
    <li>
        [(#VALEUR{text}|=={''}|non)
          [<a href="(#SELF|parametre_url{xml,#VALEUR{attributes/id}})">#VALEUR{text}</a>]
        ]
        [(#VALEUR{text}|=={''}|oui)
          [<a href="(#SELF|parametre_url{xml,#VALEUR{attributes/id}})">#VALEUR{children/titre/0/text}</a>]
        ]
        <BOUCLE_theme(DATA){source tableau, #VALEUR{children/theme}}>
          [<br /><small>(#VALEUR{children/titre/0/text})</small>]
        </BOUCLE_theme>
    </li>
</BOUCLE_noeud_fiche>
  </ul>
</B_noeud_fiche>
