#CACHE{3*24*3600}
[(#SET{bool,false})]

[(#ENV{parametres}|table_valeur{categorie}|=={entreprises}|oui)
  [(#SET{url_actu,https://www.service-public.fr/professionnels-entreprises/actualites/})]
]
[(#ENV{parametres}|table_valeur{categorie}|=={associations}|oui)
  [(#SET{url_actu,https://www.service-public.fr/associations/actualites/})]
]
[(#ENV{parametres}|table_valeur{categorie}|=={particuliers}|oui)
  [(#SET{url_actu,https://www.service-public.fr/particuliers/actualites/})]
]

<BOUCLE_indexactualite(DATA){source simplexml, #ENV{url}actualites/index.xml, namespace}>
  <B_refactualite>
    <ul>
  <BOUCLE_refactualite(DATA){source tableau, #VALEUR{children/refactualite}}>
    <B_condition>
      [(#GET{bool}|=={false}|oui)<h3><:comarquage:dernieres_actualites:></h3>]
    <BOUCLE_condition(CONDITION){si #VALEUR{children/lienservicepublic/0/attributes/id}|=={#ENV{xml}}}>
      <li>
        [<p class="#VALEUR{children/surtitre/0/name}">(#VALEUR{children/surtitre/0/text})</p>]
        [<p class="#VALEUR{children/titre/0/name}"><a href="#GET{url_actu}#VALEUR{attributes/lienpublication}" target="_blank">(#VALEUR{children/titre/0/text})</a>
          <br />[<small class="#VALEUR{children/date/0/name}">(#VALEUR{children/date/0/text})</small>]
        </p>]
        <BOUCLE_imageillustration(DATA){source tableau, #VALEUR{children/imageillustration}}{0,1}>
        [(#VALEUR{attributes/type}|=={Image}|oui)
        [<img src="https://www.service-public.fr/webapp/images/actu/large/(#VALEUR{attributes/lienpublication})" alt="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" title="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" />]]
        </BOUCLE_imageillustration>
        [<p class="paragraphe">
            (#VALEUR{children/introduction/0/children/texte/0/children/paragraphe/0/text})
        </p>]
        <div class="media">
            <BOUCLE_imageillustration2(DATA){source tableau, #VALEUR{children/imageillustration}}{1,n}>
                [(#VALEUR{attributes/type}|=={Image}|oui)
                [<img src="https://www.service-public.fr/webapp/images/actu/large/(#VALEUR{attributes/lienpublication})" alt="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" title="[(#VALEUR{children/credits/0/children/paragraphe/0/text})]" />]]
            </BOUCLE_imageillustration2>
        </div>
      </li>
    </BOUCLE_condition>
      [(#SET{bool,true})]
    </B_condition>
  </BOUCLE_refactualite>
    </ul>
  </B_refactualite>
</BOUCLE_indexactualite>
