<B_element>
<div class="[(#ENV{table}|table_valeur{0/name})] panel panel-primary">
  <div class="panel-heading">
    [<h3>(#ENV{table}|table_valeur{0/attributes/type})</h3>]
  </div>
  <div class="panel-body">
    <ul class="spip">
    <BOUCLE_element(DATA){source tableau, #ENV{table}}>
      [<li>
        <a href="[(#VALEUR{attributes/url})]" class="#VALEUR{children/titre/0/name}" target="_blank">(#VALEUR{children/titre/0/text})</a><br />
        [<small class="[(#VALEUR{children/complement/0/name})]">(#VALEUR{children/complement/0/text})</small>]
      </li>]
    </BOUCLE_element>
    </ul>
  </div>
</div>
</B_element>
