<BOUCLE_condition(CONDITION){si #ENV{affichage}|=={onglet}|oui}>
  <div role="tabpanel" class="[(#ENV{table}|table_valeur{name})] tab-pane active" id="tab_0">
  <BOUCLE_element_interne(DATA){source tableau, #ENV{table}|table_valeur{children}}{1,n}>
      <INCLURE{fond=template/flux_xml/children_up,env}{table=#VALEUR} />
  </BOUCLE_element_interne>
  </div>
</BOUCLE_condition>
<li class="[(#ENV{table}|table_valeur{name})]">
  <INCLURE{fond=template/flux_xml/children,env}{table=#ENV{table}} />
</li>
<//B_condition>
