<div class="[(#ENV{table}|table_valeur{name})] panel panel-default">
  <BOUCLE_element_interne(DATA){source tableau, #ENV{table}|table_valeur{children}}{0,1}>
    <BOUCLE_element(DATA){source tableau, #VALEUR}>
      <div class="panel-heading" role="tab" id="headingOne">
        [<h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
            (#VALEUR{children/0/0/children/0/0/text})
          </a>
        </h4>]
      </div>
    </BOUCLE_element>
  </BOUCLE_element_interne>

  <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <BOUCLE_element_interne2(DATA){source tableau, #ENV{table}|table_valeur{children}}{1,n}>
        <INCLURE{fond=template/flux_xml/children_up,env}{table=#VALEUR}/>
      </BOUCLE_element_interne2>
    </div>
  </div>
</div>
